<div class="back">
    <div class="light"></div>
    <div class="front"></div>
</div>
<div class="options">
    <div class="anchors">
        <img src="imgs/background/up.png" alt="" class="up">
        <img src="imgs/background/down.png" alt="" class="down">
    </div>
    <div class="colors">
        <h4 id="btn_color">Background color</h4>
        <div class="opt">
            <p class="color" id="1">Blue</p>
            <p class="color" id="2">Red</p>
            <p class="color" id="3">Yellow</p>
            <p class="color" id="4">Green</p>
        </div>
    </div>
</div>