<footer id="down">
    <div class="footer_top">
        <h2>Are you still here!</h2>
    </div>
    <div class="text">
        <p>The site presents my studies, personal projects, my life and the like. I hope you liked what you saw</p>
    </div>
    <ul>
        <li><p class="menu_btn" page_name="about">About</p></li>
        <li><p class="menu_btn" page_name="contacts">Contact Form</p></li>
        <li><p class="menu_btn" page_name="skills">Skills</p></li>
    </ul>
    <ul>
        <li><p class="menu_btn" page_name="studies">Studies</p></li>
        <li><p class="menu_btn" page_name="projects">Projects</p></li>
        <li><p class="menu_btn" page_name="life">My Life</p></li>
    </ul>
    <ul class="media">
        <li><a href="https://github.com/MiFista01" target="_blank"><img src="imgs/footer/github_black.png" alt=""></a></li>
        <li><a href="https://mifista.itch.io/" target="_blank"><img src="imgs/footer/itchio_black.png" alt=""></a></li>
        <li><a href="https://vk.com/aleks3001" target="_blank"><img src="imgs/footer/vk_black.png" alt=""></a></li>
    </ul>
    <p><h4>Phone: </h4>+37259024698</p>
</footer>