<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<title>Portfolio</title>
<meta name='viewport' content='width=device-width, initial-scale=1'>

<link rel='stylesheet' type='text/css' media='screen' href='css/background.css'>
<link rel='stylesheet' type='text/css' media='screen' href='css/left_aside.css'>
<link rel='stylesheet' type='text/css' media='screen' href='css/right_aside.css'>
<link rel='stylesheet' type='text/css' media='screen' href='css/default.css'>
<link rel='stylesheet' type='text/css' media='screen' href='css/style.css'>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

<script src="js/jquery-3.6.1.min.js"></script>
<script src="js/background.js"></script>
<script src="js/aside.js"></script>
<script src="js/message.js"></script>
<script src="js/page.js"></script>

<script src="lib/lightbox/lightbox.js"></script>
<link rel="stylesheet" type='text/css' media='screen' href="lib/lightbox/lightbox.css">

<link rel="stylesheet" type='text/css' media='screen' href="lib/slider/slider.css">