<h2 class="menu_btn" page_name="about">ABOUT ME</h2>
<h2 class="menu_btn" page_name="contacts">CONTACT FORM</h2>
<h2 class="menu_btn" page_name="skills">SKILLS</h2>
<h1 class="menu_btn" page_name="home">Mifista</h1>
<h2 class="menu_btn" page_name="studies">STUDIES</h2>
<h2 class="menu_btn" page_name="projects">PROJECTS</h2>
<h2 class="menu_btn" page_name="life">MY LIFE</h2>
