.conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -moz-box-flex: unset;
    overflow: visible;
    padding: 0;
    margin: 0;
    position: relative;
}
.hex_border{
    height: 100%;
    min-height: 100%;
    width: 100%;
    margin: 0;
    font-size: 5vmin;
    background-color: rgb(181, 181, 181);
    color: rgb(0, 0, 0);
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-clip-path: polygon(0% 25%,50% 0%,100% 25%,100% 75%,50% 100%,0% 75%);
    -moz-clip-path: polygon(5% 50%, 25% 5%, 75% 5%, 100% 50%, 75% 100%, 25% 100%);
    transition-duration: 0.5s;
}
.hex {
    width: 95%;
    height: 95%;
    background-color: rgb(255, 255, 255);
    margin: 0;
    background-color: whitesmoke;
    box-sizing: border-box;
    -webkit-clip-path: polygon(0% 25%,50% 0%,100% 25%,100% 75%,50% 100%,0% 75%);
    -moz-clip-path: polygon(5% 50%, 25% 5%, 75% 5%, 100% 50%, 75% 100%, 25% 100%);
    cursor: pointer;
    user-select: none;
    transition-duration: 0.5s;
}

.hex-background{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hex-background hr{
    width: 60%;
    height: 10px;
    background-color: black;
    margin: 2px;

}
.hex-background p{
    width: 100%;
    text-align: center;
    margin: 0px;
}
.hex_border:hover{
    min-height: 120%;
    height: 120%;
    width: 120%;
    z-index: 2;
}
.lock{
    height: 100%;
    min-height: 100%;
    width: 100%;
    margin: 0;
    font-size: 23px;
    background-color: rgb(181, 181, 181);
    color: rgb(0, 0, 0);
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-clip-path: polygon(0% 25%,50% 0%,100% 25%,100% 75%,50% 100%,0% 75%);
    -moz-clip-path: polygon(5% 50%, 25% 5%, 75% 5%, 100% 50%, 75% 100%, 25% 100%);
    transition-duration: 0.5s;
}
.lock .hex{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lock .hex-background{
    background-image: url("../imgs/other/lock.png");
    background-size: cover;
    background-position: center;
    cursor:auto;
    position: absolute;
    left: 0%;
    top: 0%;
}
.center{
    justify-content: center !important;
}
.left{
    justify-content: left !important;
}
.left > a{
    margin-right: 1vw;
}
.three > a{
    width: 32% !important;
}
.slideUp{
    transform: perspective(0px) translate3d(10px, 0px, 10px);
}
.visible_off{
    visibility: hidden;
}
.half{
    width: 50%;
}
.error{
    width: 100vw;
    height: 100vh;
    background-image: url(../imgs/404.png);
    background-size: cover;
    background-position: center;
}
.reverse{
    flex-direction: column-reverse !important;
}