<div class="course">
    <h2>1 course</h2>
    <div class="line1">
        <div class="conteiner">
            <div class="hex_border">
                <div class="hex main_btn" page_name="digital">
                    <div class="hex-background" >
                        <p>Development of digital skills</p> 
                    </div>
                </div>
            </div>
        </div>
        <div class="conteiner">
            <div class="hex_border">
                <div class="hex main_btn" page_name="python">
                    <div class="hex-background" >
                        <p>Basic of programming</p> 
                    </div>
                </div>
            </div>
        </div>
        <div class="conteiner">
            <div class="hex_border">
                <div class="hex main_btn" page_name="basic_it">
                    <div class="hex-background" >
                        <p>OS and Networking fundamentals</p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="line2">
        <div class="conteiner">
            <div class="hex_border">
                <div class="hex main_btn" page_name="basic_office">
                    <div class="hex-background" >
                        <p>Basic IT knowledge</p> 
                    </div>
                </div>
            </div>
        </div>
        <div class="conteiner">
            <div class="hex_border">
                <div class="hex main_btn" page_name="caree">
                    <div class="hex-background" >
                        <p>Caree planning</p> 
                    </div>
                </div>
            </div>
        </div>
        <div class="conteiner">
            <div class="hex_border">
                <div class="hex main_btn" page_name="graphika">
                    <div class="hex-background" >
                        <p>IT - graphika</p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/main_btns.js"></script>
</div>