<div class="course">
    <h2>2 course</h2>
    <div class="line1">
        <div class="conteiner">
            <div class="hex_border">
                <div class="hex main_btn" page_name="xml_json">
                    <div class="hex-background" >
                        <p>XML/JSON</p> 
                    </div>
                </div>
            </div>
        </div>
        <div class="conteiner">
            <div class="hex_border">
                <div class="hex main_btn" page_name="sql">
                    <div class="hex-background" >
                        <p>SQL</p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="line2">
        <div class="conteiner">
            <div class="hex_border">
                <div class="hex main_btn" page_name="html_css">
                    <div class="hex-background" >
                        <p>HTML/CSS</p> 
                    </div>
                </div>
            </div>
        </div>
        <div class="conteiner">
            <div class="hex_border">
                <div class="hex main_btn" page_name="java">
                    <div class="hex-background" >
                        <p>JAVA</p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/main_btns.js"></script>
</div>