<div class="subject">
    <div class="header">
        <h2>3DS Max</h2>
        <p>The page presents the results of the course on 3D modeling</p>
    </div>
    <section>
        <h3></h3>
        <p></p>
        <div class="slider" show="2" scroll="2" time="1000">
            <ul>
                <li><a href="imgs/add/3d/3d1.png" data-lightbox="all" data-title="work area for those who work at the computer"><img src="imgs/add/3d/3d1.png" alt=""></a></li>
                <li><a href="imgs/add/3d/3d2.png" data-lightbox="all" data-title="Kitchen"><img src="imgs/add/3d/3d2.png" alt=""></a></li>
                <li><a href="imgs/add/3d/3d3.png" data-lightbox="all" data-title="Book shelf"><img src="imgs/add/3d/3d3.png" alt=""></a></li>
                <li><a href="imgs/add/3d/3d4.png" data-lightbox="all" data-title="Bar counter"><img src="imgs/add/3d/3d4.png" alt=""></a></li>
                <li><a href="imgs/add/3d/3d5.png" data-lightbox="all" data-title="TV"><img src="imgs/add/3d/3d5.png" alt=""></a></li>
                <li><a href="imgs/add/3d/3d6.png" data-lightbox="all" data-title="Sofa"><img src="imgs/add/3d/3d6.png" alt=""></a></li>
                <li><a href="imgs/add/3d/3d7.png" data-lightbox="all" data-title="Kitchen table"><img src="imgs/add/3d/3d7.png" alt=""></a></li>
                <li><a href="imgs/add/3d/3d8.png" data-lightbox="all" data-title="General interior"><img src="imgs/add/3d/3d8.png" alt=""></a></li>
                <li><a href="imgs/add/3d/3d9.png" data-lightbox="all" data-title="Bar counter overlooking the kitchen"><img src="imgs/add/3d/3d9.png" alt=""></a></li>
            </ul>
        </div>
    </section>
    <script src="../lib/slider/slider.js"></script>
</div>