<div class="about">
    <div class="text">
        <h1>About me</h1>
        <p>Hello. My name is Aleksei Kozlov, alias MiFista. At the moment (2023 year) I am studying at a technical school as a programmer. I have already completed 2 courses and I understood in what industry I like to work. <br> 
        Creation of sites and games is something that lies to my soul.
        I am hardworking and love learning new technologies. I read many articles on the Internet on this topic. For me it's like one of my hobbies. Among them I will also mention woodworking, clay modeling and drawing. You can find out more in the section "My life"</p>
    </div>
    <div class="imgs">
        <a href="imgs/about/about.svg" data-lightbox="home" data-title="My logo and work in Illustrator"><img src="imgs/about/about.svg" alt=""></a>
    </div>
</div>