<div class="add">
    <div class="subject">
        <div class="header">
            <h2>Additional courses taken</h2>
            <p>This page contains links to pages with courses that are not included in the main study.</p>
        </div>
        <div class="line1">
            <div class="conteiner">
                <div class="hex_border">
                    <div class="hex main_btn" page_name="3ds">
                        <div class="hex-background" >
                            <p>3DS Max</p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="line2">
           
        </div>
    </div>
    <script src="js/main_btns.js"></script>
</div>