<div class="subject">
    <div class="header">
        <h2>Basic Word knowledge</h2>
        <p>The purpose of the course was to learn the functionality of Word and Powerpoint</p>
    </div>
    <section>
        <h3>Working with Shapes</h3>
        <p>In this lesson, we were shown how to use shapes in Word. The task itself was simple, but it was dreary</p>
        <div class="imgs">
            <a href="imgs/1course/basic_office/draw.png" data-lightbox="shapes" data-title="Drawing made with shapes in Word"><img src="imgs/1course/basic_office/draw.png" alt=""></a>
            <a href="imgs/1course/basic_office/scheme.png" data-lightbox="shapes" data-title="Diagram made by figures"><img src="imgs/1course/basic_office/scheme.png" alt=""></a>
        </div>
    </section>
    <section>
        <h3>Working with styles</h3>
        <p>In this lesson, we were shown how to use and modify different Word styles. Confused at first, but quickly got used to it</p>
        <div class="imgs">
            <a href="imgs/1course/basic_office/style.png" data-lightbox="shapes" data-title="Picture with examples of styles"><img src="imgs/1course/basic_office/style.png" alt=""></a>
        </div>
    </section>
    <section>
        <h3>Independent work</h3>
        <p>The work was easy in terms of using styles. Independent work showed that it is difficult for me to work on the text for several hours.</p>
        <div class="imgs">
            <a href="imgs/1course/basic_office/content.png" data-lightbox="work" data-title="Piece of content in a file"><img src="imgs/1course/basic_office/content.png" alt=""></a>
            <a href="imgs/1course/basic_office/result.png" data-lightbox="work" data-title="Part of the first chapter"><img src="imgs/1course/basic_office/result.png" alt=""></a>
        </div>
        <div class="file">
            <a href="projects/course1/basic_office/samostojalka.doc">Download independet work</a>
        </div>
    </section>
</div>