<section>
    <h3 id="theory">Theory presentations</h3>
    <p>Here are the presentations that were issued for study.</p>
    <div class="slider" show="1" scroll="1" time="1000">
        <ul>
            <li><iframe src="https://ivkhk-my.sharepoint.com/personal/aleksei_kozlov_ivkhk_ee/_layouts/15/Doc.aspx?sourcedoc={111badb7-8fef-450b-8317-0022cf80ac5a}&amp;action=embedview&amp;wdAr=1.7777777777777777&amp;wdEaaCheck=1" width="500px" height="300px" frameborder="0">Это внедренный файл <a target="_blank" href="https://office.com">Microsoft Office</a> на платформе <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe></li>
            <li><iframe src="https://ivkhk-my.sharepoint.com/personal/aleksei_kozlov_ivkhk_ee/_layouts/15/Doc.aspx?sourcedoc={b4b8a30b-a34a-4ffe-a18d-0df4bf51f903}&amp;action=embedview&amp;wdAr=1.7777777777777777" width="500px" height="300px" frameborder="0">Это внедренный файл <a target="_blank" href="https://office.com">Microsoft Office</a> на платформе <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe></li>
            <li><iframe src="https://view.officeapps.live.com/op/embed.aspx?src=http%3A%2F%2Fdjdims%2Esnfx%2Eee%3A80%2Fwp%2Dcontent%2Fuploads%2F2021%2F01%2FAV%5FV%25D1%2585rgukomponendid%2Dja%2Darhitektuur%5FI%5FLoeng%2Epptx&amp;wdAr=1.7777777777777777&amp;Embed=1" width="1284px" height="747px" frameborder="0">Это внедренный файл <a target="_blank" href="https://office.com">Microsoft Office</a> на платформе <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe></li>
            <li><iframe src="https://ivkhk-my.sharepoint.com/personal/aleksei_kozlov_ivkhk_ee/_layouts/15/Doc.aspx?sourcedoc={0b8fc912-77d1-4eed-bf49-5315fba6f34b}&amp;action=embedview&amp;wdAr=1.7777777777777777" width="500px" height="300px" frameborder="0">Это внедренный файл <a target="_blank" href="https://office.com">Microsoft Office</a> на платформе <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe></li>
            <li><iframe src="https://view.officeapps.live.com/op/embed.aspx?src=http%3A%2F%2Fdjdims%2Esnfx%2Eee%3A80%2Fwp%2Dcontent%2Fuploads%2F2021%2F01%2FWEB%5F1%5FLoeng%2Epptx&amp;wdAr=1.7777777777777777&amp;Embed=1" width="1284px" height="747px" frameborder="0">Это внедренный файл <a target="_blank" href="https://office.com">Microsoft Office</a> на платформе <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe></li>
            
        </ul>
    </div>
    <script src="../lib/slider/slider.js"></script>
</section>