<div class="subject">
    <script src="js/basic_it.js"></script>
    <div class="header">
        <h2>Basic IT knowledge</h2>
        <p>Objective: The course aims to provide the student with basic knowledge of IT application software, computer networks, hardware and operating systems.</p>
    </div>
    <div class="btns">
        <div class="conteiner">
            <div class="hex_border">
                <div class="hex options_btn" page_name="basic_it_theory">
                    <div class="hex-background" >
                        <p>THEORY</p> 
                    </div>
                </div>
            </div>
        </div>
        <div class="conteiner">
            <div class="hex_border">
                <div class="hex options_btn " page_name="basic_it_praktika">
                    <div class="hex-background" >
                        <p>PRACTICA</p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="materials">
        
    </div>
</div>