<div class="subject">
    <div class="header">
        <h2>Career planning</h2>
        <p>Purpose: The purpose of the study is to enable the student to plan his career in today`s economic, business and industrial environment.</p>
    </div>
    <section>
        <h3>CV compilation</h3>
        <p>The first major work on the subject was the preparation of a CV. This assignment will help me find a job in the future. In the CV, I described myself from all sides, so that everyone can understand what kind of person I am. The job was pretty easy.</p>
    </section>
    <section>
        <h3>Career plan</h3>
        <p>In the second lesson, we were told to plan our life for 5 years. Fortunately, I planned my life up to 30 years. Unfortunately I didn't save the photo.</p>
    </section>
    <section>
        <h3>Small works</h3>
        <p>Small tasks were a test that could show what kind of character a person has, what he wants, etc. I agreed with something, but disagreed with someone. It's only about n=can tell me</p>
    </section>
</div>