<div class="form">
    <div class="text">
        <h1> My Contacts</h1>
        <ul>
            <li>
                <div class="img">
                    <img src="imgs/contacts/adress.png" alt="">
                </div>
                <div class="inf">
                    <h2>ADDRESS:</h2>
                    <a href="https://goo.gl/maps/P5nAs3NyKa2Zxs2w7" target="_blank">Keskpuiestee 34, Kiviõli, 43121 Ida-Viru maakond</a>
                </div>
            </li>
            <li>
                <div class="img">
                    <img src="imgs/contacts/vk.png" alt="">
                </div>
                <div class="inf">
                    <h2>ADDRESS:</h2>
                    <a href="https://vk.com/aleks3001" target="_blank">aleks3001</a>
                </div>
            </li>
            <li>
                <div class="img">
                    <img src="imgs/contacts/phone.png" alt="">
                </div>
                <div class="inf">
                    <h2>PHONE:</h2>
                    <p>+37259024698</p>
                </div>
            </li>
            <li>
                <div class="img">
                    <img src="imgs/contacts/email.png" alt="">
                </div>
                <div class="inf">
                    <h2>EMAIL:</h2>
                    <p>aleksei22891@gmail.com</p>
                </div>
            </li>
            <li>
                <div class="img">
                    <img src="imgs/contacts/github.png" alt="">
                </div>
                <div class="inf">
                    <h2>GITHUB:</h2>
                    <a href="https://github.com/MiFista01" target="_blank">MiFista01</a>
                </div>
            </li>
            <li>
                <div class="img">
                    <img src="imgs/contacts/itchio.png" alt="">
                </div>
                <div class="inf">
                    <h2>ITCH.IO:</h2>
                    <a href="https://mifista.itch.io/" target="_blank">itch.io my page</a>
                </div>
            </li>
        </ul>
    </div>
    <form method="post" id="message">
        <h2>Get in touch</h2>
        <input type="text" name="name" placeholder="Name" autocomplete="off">
        <input type="email" name="email" placeholder="Email" autocomplete="off">
        <input type="text" name="subject" placeholder="Subject" autocomplete="off">
        <textarea name="message"  cols="30" rows="10" placeholder="Message" autocomplete="off"></textarea>
        <div>
            <button>Send message</button>
        </div>
        <div class="answer">
            
        </div>
    </form>
    <script src="../js/message.js"></script>
</div>