<div class="subject">
    <div class="header">
        <h2>Digital skills development</h2>
        <p>The main purpose of this course is to teach us the basic knowledge of using school environment programs.</p>
    </div>
    <section>
        <h3>Tahvel and Harid</h3>
        <p>At the first lessons, we were taught how to use tahwel and authorization methods on the site from the phone and PC</p>
        <div class="imgs">
            <a href="imgs/1course/digital/harid_login.png" data-lightbox="harid" data-title="Tahvel login"><img src="imgs/1course/digital/harid_login.png" alt=""></a>
            <a href="imgs/1course/digital/harid.png" data-lightbox="harid" data-title="Tahvel"><img src="imgs/1course/digital/harid.png" alt=""></a>
        </div>
    </section>
    <section>
        <h3>Introduction to Microsoft 365 features</h3>
        <p>We were shown the main functions of Office 365 programs. The tasks were simple</p>
        <div class="imgs">
            <a href="imgs/1course/digital/programs.png" data-lightbox="office" data-title="All office 365 programs"><img src="imgs/1course/digital/programs.png" alt=""></a>
        </div>
    </section>
    <section>
        <h3>Microsoft 365</h3>
        <p>There were simple tasks with Word and Powerpoint. The assignments helped me better understand what I already knew.</p>
        <div class="imgs">
            <a href="imgs/1course/digital/office.png" data-lightbox="tasks" data-title="Read document content"><img src="imgs/1course/digital/office.png" alt=""></a>
        </div>
    </section>
</div>