<div class="subject">
    <div class="header">
        <h2>Drawing</h2>
        <p>Here are all the drawings that I'm not ashamed to show. I think you will like them. It's like a hobby for me, don't judge too harshly</p>
    </div>
    <section>
        <h3>Pencil drawings</h3>
        <p>This section presents drawings that I drew with a simple pencil. I like to draw on A4 and look at the picture on my phone. Usudry I draw only offices, as it seems to me that drawings without color have their own charm.</p>
        <div class="slider" show="1" scroll="1" time="1000">
            <ul>
                <li><a href="imgs/my_projects/drawing/dr5.jpg" data-lightbox="dr" data-title="Stitch"><img src="imgs/my_projects/drawing/dr5.jpg" alt=""></a></li>
                <li><a href="imgs/my_projects/drawing/dr2.jpg" data-lightbox="dr" data-title="Stitch and Angel"><img src="imgs/my_projects/drawing/dr2.jpg" alt=""></a></li>
                <li><a href="imgs/my_projects/drawing/dr3.jpg" data-lightbox="dr" data-title="Dragon"><img src="imgs/my_projects/drawing/dr3.jpg" alt=""></a></li>
                <li><a href="imgs/my_projects/drawing/dr4.jpg" data-lightbox="dr" data-title="Crytstal golem"><img src="imgs/my_projects/drawing/dr4.jpg" alt=""></a></li>
                <li><a href="imgs/my_projects/drawing/dr1.jpg" data-lightbox="dr" data-title="Crytstal golem"><img src="imgs/my_projects/drawing/dr1.jpg" alt=""></a></li>
            </ul>
        </div>
    </section>
    <script src="../lib/slider/slider.js"></script>
</div>