<div class="subject">
    <div class="header">
        <h2>Game "Galaxy"</h2>
    </div>
    <section>
        <p>This project was made for an event in which the goal was to relax a person. I thought that a simple shooter like in the old days could do this and this is what I managed to do in 2 days</p>
       <div class="imgs">
            <a href="imgs/my_projects/godot/galaxy1.png" data-lightbox="galaxy" data-title="First seconds"><img src="imgs/my_projects/godot/galaxy1.png" alt=""></a>
            <a href="imgs/my_projects/godot/galaxy2.png" data-lightbox="galaxy" data-title="Some time later"><img src="imgs/my_projects/godot/galaxy2.png" alt=""></a>
       </div>
        <div class="file">
            <a href="projects/my_projects/godot/galaxy/galaxy.rar">Download exe</a>
        </div>
        <div class="game vertical">
            <iframe src="" frameborder="0" id="game"></iframe>
            <div class="buttons">
                <p game_src="projects/my_projects/godot/galaxy/html/index.html" id="play">Play/Restart</p>
                <p  id="stop">Stop</p>
            </div>
       </div>
    </section>
    <script src="js/game_btns.js"></script>
</div>