<div class="subject">
    <div class="header">
        <h2>Glossary of terminology</h2>
        <p>On this page you are presented with a dictionary with the terminology that I received for all my studies at the technical school</p>
    </div>
    <section>
        <h3>Glossary (web)</h3>
        <p>The following is a glossary of terminology for the web sphere</p>
        <div class="pres">
            <iframe width="402" height="346" frameborder="0" scrolling="no" src="https://ivkhk-my.sharepoint.com/personal/aleksei_kozlov_ivkhk_ee/_layouts/15/Doc.aspx?sourcedoc={158b3900-78e8-4348-9ed3-e63216b36a1f}&action=embedview&wdDownloadButton=True&wdInConfigurator=True&wdInConfigurator=True&edesNext=true&resen=false&ed1JS=false"></iframe>
        </div>
    </section>
    <section>
        <h3>Glossary (other)</h3>
        <p>Here is a glossary with terminology on various topics. From computer components to different technologies for programming</p>
        <div class="pres">
            <iframe width="402" height="346" frameborder="0" scrolling="no" src="https://ivkhk-my.sharepoint.com/personal/aleksei_kozlov_ivkhk_ee/_layouts/15/Doc.aspx?sourcedoc={5754d301-ba2d-4250-bf76-a1879e0c7e2f}&action=embedview&wdDownloadButton=True&wdInConfigurator=True&wdInConfigurator=True&edesNext=true&resen=false&ed1JS=false"></iframe>
        </div>
    </section>
</div>