<div class="subject">
    <div class="header">
        <h2>IT - graphics</h2>
        <p>On this page you will see the work that I made using photoshop and illustrator. For the most part, everything went smoothly and quite interesting. Each link will provide the result of my work</p>
    </div>
    <section>
        <h3>First job with Photoshop</h3>
        <p>This is the first serious work. I needed to know how to cut, use layers and process photos. To simulate pages, I had to use perspective and distortion to change the layers. For the cover, you needed to know how to use layer styles.</p>
        <div class="imgs left">
            <a href="imgs/1course/graphika/book.png" data-lightbox="imgs" data-title="My result is creating a book picture"><img src="imgs/1course/graphika/book.png" alt=""></a>
            <div class="file">
                <a href="projects/course1/graphika/book.rar">Book files</a>
            </div>
        </div>
    </section>
    <section>
        <h3>"Poster"</h3>
        <p>In this work, we were given references that needed to be repeated. It was not immediately clear how to properly use styles in order for the helicopter to look normal.</p>
        <div class="imgs left">
            <a href="imgs/1course/graphika/poster.jpg" data-lightbox="imgs" data-title="My result is creating a poster"><img src="imgs/1course/graphika/poster.jpg" alt=""></a>
            <div class="file">
                <a href="projects/course1/graphika/poster.rar">Poster files</a>
            </div>
        </div>
    </section>
    <section>
        <h3>Panda - logo</h3>
        <p>In this work, we were given a bitmap image of a panda. It was necessary to redraw in vector graphics and make the simplest logo out of panda</p>
        <div class="imgs left">
            <a href="imgs/1course/graphika/panda.jpg" data-lightbox="imgs" data-title="My result is creating a logo"><img src="imgs/1course/graphika/panda.jpg" alt=""></a>
            <div class="file">
                <a href="projects/course1/graphika/panda.rar">Panda files</a>
            </div>
        </div>
    </section>
    <section>
        <h3>Planet</h3>
        <p>For this task, it was necessary to learn how to work with filters in Photoshop. It was necessary to cut out the planet, use a custom brush to make stars and add highlight filters to add volume</p>
        <div class="imgs left">
            <a href="imgs/1course/graphika/planet.jpg" data-lightbox="imgs" data-title="My result to work with filters"><img src="imgs/1course/graphika/planet.jpg" alt=""></a>
            <div class="file">
                <a href="projects/course1/graphika/planet.rar">Panda files</a>
            </div>
        </div>
    </section>
</div>