<div class="subject">
    <div class="header">
        <h2>Handiwork</h2>
        <p>On this page you will see the different designs I made on the mug. The works are mainly made of wood, but there are other materials.</p>
    </div>
    <section>
        <h3>Cutting board</h3>
        <p>The first cutting board was for a teacher from my old school. The second was a trial work to work with wood that had rotted a little and acquired its own unique pattern.</p>
        <div class="imgs">
            <a href="imgs/my_projects/handiwork/board1.jpg" data-lightbox="board" data-title="Cutting board in the shape of a fish"><img src="imgs/my_projects/handiwork/board1.jpg" alt=""></a>
            <a href="imgs/my_projects/handiwork/board2.jpg" data-lightbox="board" data-title="Cutting board with patterns"><img src="imgs/my_projects/handiwork/board2.jpg" alt=""></a>
        </div>
    </section>
    <section>
        <h3>Pictures burned on plywood</h3>
        <p>I like to burn pictures on plywood and wood. From the very beginning, when I started going to a circle of interests, I was interested in it and for this I tried to develop the skill</p>
        <div class="imgs">
            <a href="imgs/my_projects/handiwork/bur1.jpg" data-lightbox="bur" data-title="Sparrow and rowan"><img src="imgs/my_projects/handiwork/bur1.jpg" alt=""></a>
            <a href="imgs/my_projects/handiwork/bur2.jpg" data-lightbox="bur" data-title="Rooster"><img src="imgs/my_projects/handiwork/bur2.jpg" alt=""></a>
            <a href="imgs/my_projects/handiwork/bur4.jpg" data-lightbox="bur" data-title="Kiviõli town in the old days"><img src="imgs/my_projects/handiwork/bur4.jpg" alt=""></a>
        </div>
    </section>
    <section>
        <h3>Plates</h3>
        <p>I also made 2 such plates in my life. The first one was made from wood, epoxy and cones. The second one is made of plywood with a thick veneer inserted into it.Both of them are rubbed with beeswax for better protection against moisture.</p>
        <div class="imgs">
            <a href="imgs/my_projects/handiwork/plate1.jpg" data-lightbox="plate" data-title="Plate with epoxy"><img src="imgs/my_projects/handiwork/plate1.jpg" alt=""></a>
            <a href="imgs/my_projects/handiwork/plate2.jpg" data-lightbox="plate" data-title="Plywood plate"><img src="imgs/my_projects/handiwork/plate2.jpg" alt=""></a>
        </div>
    </section>
    <section>
        <h3>Silver willow</h3>
        <p>This section shows works made of silver willow. The first picture was an order for a good chemistry teacher. All the rest were items for a competition in Tallinn</p>
        <div class="slider" show="2" scroll="2" time="1000">
            <ul>
                <li><a href="imgs/my_projects/handiwork/willow1.jpg" data-lightbox="willow" data-title="Stitch"><img src="imgs/my_projects/handiwork/willow1.jpg" alt=""></a></li>
                <li><a href="imgs/my_projects/handiwork/willow2.jpg" data-lightbox="willow" data-title="Stitch and Angel"><img src="imgs/my_projects/handiwork/willow2.jpg" alt=""></a></li>
                <li><a href="imgs/my_projects/handiwork/willow3.jpg" data-lightbox="willow" data-title="Dragon"><img src="imgs/my_projects/handiwork/willow3.jpg" alt=""></a></li>
                <li><a href="imgs/my_projects/handiwork/willow4.jpg" data-lightbox="willow" data-title="Crytstal golem"><img src="imgs/my_projects/handiwork/willow4.jpg" alt=""></a></li>
                <li><a href="imgs/my_projects/handiwork/willow5.jpg" data-lightbox="willow" data-title="Crytstal golem"><img src="imgs/my_projects/handiwork/willow5.jpg" alt=""></a></li>
                <li><a href="imgs/my_projects/handiwork/willow6.jpg" data-lightbox="willow" data-title="Crytstal golem"><img src="imgs/my_projects/handiwork/willow6.jpg" alt=""></a></li>
                <li><a href="imgs/my_projects/handiwork/willow7.jpg" data-lightbox="willow" data-title="Crytstal golem"><img src="imgs/my_projects/handiwork/willow7.jpg" alt=""></a></li>
            </ul>
        </div>
    </section>
    <section>
        <h3>Rose</h3>
        <p>Here you see a rose in a Plexiglas pot. I made the shape of the petals by hand using a building hair dryer and gloves. Even the gloves didn't save me and I got burned, but I think it was worth it. This rose is gone as a gift to an old longtime friend.</p>
        <div class="slider" show="2" scroll="1" time="1000">
            <ul>
                <li><a href="imgs/my_projects/handiwork/rose1.jpg" data-lightbox="rose" data-title="Plate with epoxy"><img src="imgs/my_projects/handiwork/rose1.jpg" alt=""></a></li>
                <li><a href="imgs/my_projects/handiwork/rose2.jpg" data-lightbox="rose" data-title="Plywood plate"><img src="imgs/my_projects/handiwork/rose2.jpg" alt=""></a></li>
                <li><a href="imgs/my_projects/handiwork/rose3.jpg" data-lightbox="rose" data-title="Plywood plate"><img src="imgs/my_projects/handiwork/rose3.jpg" alt=""></a></li>
            </ul>
        </div>
    </section>
    <script src="../lib/slider/slider.js"></script>
</div>