<div class="subject">
    <div class="header">
        <h2>Hockey</h2>
    </div>
    <section>
        <p>While I was exploring the possibilities of pygame, I thought that I had enough strength to make air hockey, but I did not calculate. I made the main impact mechanics for the player and smooth sliding, but the bot is stupid, it doesn’t do anything and it didn’t work out to make the physics of the kickback of the stick from the puck. Therefore, I show the beginning of the game and the rar file with the exe inside</p>
        <div class="imgs">
            <a href="imgs/my_projects/python/hockey.png" data-lightbox="hockey" data-title="The first seconds of the game"><img src="imgs/my_projects/python/hockey.png" alt=""></a>
        </div>
        <div class="file">
            <a href="projects/my_projects/python/hockey.rar">Download rar</a>
        </div>
    </section>
</div>