<div class="home">
    <div class="text">
        <h1>Hello, I'm Aleksei</h1>
        <p>I create games, write simple programs and create websites using different languages and libraries.</p>
    </div>
    <div class="imgs">
        <a href="imgs/home/game.jpg" data-lightbox="home" data-title="My game"><img src="imgs/home/game.jpg" alt=""></a>
        <a href="imgs/home/web_site.png" data-lightbox="home" data-title="Website in node js"><img src="imgs/home/web_site.png" alt=""></a>
    </div>
</div>