<div class="subject">
    <div class="header">
        <h2>HTML/CSS</h2>
        <p>In this course, we were shown how to make simple websites and how to use media queries.</p>
    </div>
    <section>
        <h3>Dreamlands (using HTML and CSS)</h3>
        <p>After the first course in the summer, I began to study html / css on video lessons. Therefore, the first task was simple. The hardest thing was not to use the knowledge that I already knew</p>
        <div class="imgs">
            <a href="imgs/2course/html_css/country1.png" data-lightbox="first" data-title="Home page"><img src="imgs/2course/html_css/country1.png" alt=""></a>
            <a href="imgs/2course/html_css/country2.png" data-lightbox="first" data-title="One of the site pages"><img src="imgs/2course/html_css/country2.png" alt=""></a>
        </div>
        <div class="file">
            <a href="projects/course2/html_css/countries.rar">Download rar</a>
        </div>
    </section>
    <section>
        <h3>Web application development (element positioning)</h3>
        <p>The essence of the task was to learn how to position elements on the page. For this task, we used "margin", "padding", etc. It was hard not to use flex, but I did it (not everywhere)</p>
        <div class="imgs">
            <a href="imgs/2course/html_css/web1.png" data-lightbox="web" data-title="Home page"><img src="imgs/2course/html_css/web1.png" alt=""></a>
            <a href="imgs/2course/html_css/web2.png" data-lightbox="web" data-title="One of the site pages"><img src="imgs/2course/html_css/web2.png" alt=""></a>
        </div>
        <div class="file">
            <a href="projects/course2/html_css/web_pos.rar">Download rar</a>
        </div>
    </section>
    <section>
        <h3>Forms (form creation and styling)</h3>
        <p>In this lesson, we were told how to create and style forms for the site. It was and still is not clear how to make a frame as I did. The task was simple but tedious</p>
        <div class="slider" show="2" scroll="1" time="1000">
            <ul>
                <li><a href="imgs/2course/html_css/form1.png" data-lightbox="form" data-title="Home page snippet"><img src="imgs/2course/html_css/form1.png" alt=""></a></li>
                <li><a href="imgs/2course/html_css/form2.png" data-lightbox="form" data-title="Fragment of the order form"><img src="imgs/2course/html_css/form2.png" alt=""></a></li>
                <li><a href="imgs/2course/html_css/form3.png" data-lightbox="form" data-title="Fragment of the registration form"><img src="imgs/2course/html_css/form3.png" alt=""></a></li>
                
            </ul>
        </div>
        <div class="file">
            <a href="projects/course2/html_css/form.rar">Download rar</a>
        </div>
    </section>
    <section>
        <h3>Project using CSS effects</h3>
        <p>In this lesson, you will teach us how to use different css features. The project used css effects to achieve some volume.</p>
        <div class="imgs ">
            <a href="imgs/2course/html_css/eff1.png" data-lightbox="eff" data-title="Site top"><img src="imgs/2course/html_css/eff1.png" alt=""></a>
            <a href="imgs/2course/html_css/eff2.png" data-lightbox="eff" data-title="Bottom of site"><img src="imgs/2course/html_css/eff2.png" alt=""></a>
        </div>
        <div class="file">
            <a href="projects/course2/html_css/css_effects.rar">Download rar</a>
        </div>
    </section>
    <section>
        <h3>Project with adaptive layout (responsive design)</h3>
        <p>In this project, we were taught how to use the adaptive layout of the site, what is needed for this and how to use it. Before this project, I already knew what it was, so it was a pleasure to do this project</p>
        <div class="imgs ">
            <a href="imgs/2course/html_css/res1.png" data-lightbox="res" data-title="Mobile"><img src="imgs/2course/html_css/res1.png" alt=""></a>
            <a href="imgs/2course/html_css/res2.png" data-lightbox="res" data-title="Desktop"><img src="imgs/2course/html_css/res2.png" alt=""></a>
        </div>
        <div class="file">
            <a href="projects/course2/html_css/responsive.rar">Download rar</a>
        </div>
    </section>
    <section>
        <h3>Basic knowledge test</h3>
        <p>In this project, it was necessary to show everything that I knew, and for this I also used js. I also thought about making a slider but changed my mind because this was not the task (but I did it)</p>
        <div class="imgs ">
            <a href="imgs/2course/html_css/all1.png" data-lightbox="all" data-title="Site top"><img src="imgs/2course/html_css/all1.png" alt=""></a>
            <a href="imgs/2course/html_css/all2.png" data-lightbox="all" data-title="Site Gallery"><img src="imgs/2course/html_css/all2.png" alt=""></a>
        </div>
        <div class="file">
            <a href="projects/course2/html_css/all.rar">Download rar</a>
        </div>
    </section>
    <section>
        <h3>Final work</h3>
        <p>The final work was relatively difficult, but due to the fact that he himself decided to make it more difficult and interesting. Use in it all the knowledge of js that I knew at that time, therefore I am satisfied with my work</p>
        <div class="slider" show="1" scroll="1" time="1000">
            <ul>
                <li><a href="imgs/2course/html_css/final1.png" data-lightbox="all" data-title="Home page"><img src="imgs/2course/html_css/final1.png" alt=""></a></li>
                <li><a href="imgs/2course/html_css/final2.png" data-lightbox="all" data-title="Booking page"><img src="imgs/2course/html_css/final2.png" alt=""></a></li>
                <li><a href="imgs/2course/html_css/final3.png" data-lightbox="all" data-title="Home order page"><img src="imgs/2course/html_css/final3.png" alt=""></a></li>
                <li><a href="imgs/2course/html_css/final4.png" data-lightbox="all" data-title="Restaurant menu page"><img src="imgs/2course/html_css/final4.png" alt=""></a></li>
                <li><a href="imgs/2course/html_css/final5.png" data-lightbox="all" data-title="Gallery page with dishes"><img src="imgs/2course/html_css/final5.png" alt=""></a></li>
                
            </ul>
        </div>
        <div class="file">
            <a href="projects/course2/html_css/final_work.rar">Download rar</a>
        </div>
    </section>
    <script src="../lib/slider/slider.js"></script>
</div>