<div class="subject">
    <div class="header">
        <h2>My Game(Hunters)</h2>
    </div>
    <section>
        <p>This is my main project. I want to make my own game that will be similar to "vampire survivors" and "brotato". So far I've made 7 weapons and 7 passives. I want weapons and passives to be about 15 by 15 and each to have its own unique property. There is also a problem in history, I can’t come up with a normal, interesting one</p>
        <div class="slider" show="2" scroll="2" time="1000">
            <ul>
                <li><a href="imgs/my_projects/godot/game1.png" data-lightbox="game" data-title="Weapon Upgrade Menu"><img src="imgs/my_projects/godot/game1.png" alt=""></a></li>
                <li><a href="imgs/my_projects/godot/game2.png" data-lightbox="game" data-title="How the game looks so far"><img src="imgs/my_projects/godot/game2.png" alt=""></a></li>
                <li><a href="imgs/my_projects/godot/game3.png" data-lightbox="game" data-title="Game after a while"><img src="imgs/my_projects/godot/game3.png" alt=""></a></li>
                <li><a href="imgs/my_projects/godot/game4.png" data-lightbox="game" data-title="When the game comes to an end"><img src="imgs/my_projects/godot/game4.png" alt=""></a></li>
            </ul>
        </div>
        <div class="file">
            <a href="projects/my_projects/godot/hunters/hunters.rar">Download exe</a>
        </div>
        <div class="game horizontal">
            <iframe src="" frameborder="0" id="game"></iframe>
            <div class="buttons">
                <p game_src="projects/my_projects/godot/hunters/html/index.html" id="play">Play/Restart</p>
                <p  id="stop">Stop</p>
            </div>
       </div>
    </section>
    <script src="../lib/slider/slider.js"></script>
    <script src="js/game_btns.js"></script>
</div>