<div class="ivkhk">
    <div class="line1">
        <div class="conteiner">
            <div class="hex_border">
                <div class="hex main_btn" page_name="1course">
                    <div class="hex-background" >
                        <p>1 course</p> 
                    </div>
                </div>
            </div>
        </div>
        <div class="conteiner">
            <div class="hex_border">
                <div class="hex main_btn" page_name="2course">
                    <div class="hex-background" >
                        <p>2 course</p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="line2">
        <div class="conteiner">
            <div class="hex_border">
                <div class="hex main_btn" page_name="3course">
                    <div class="hex-background" >
                        <p>3 course</p> 
                    </div>
                </div>
            </div>
        </div>
        <div class="conteiner">
            <div class="lock">
                <div class="hex">
                    <p>4 course</p>
                    <div class="hex-background " ></div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/main_btns.js"></script>
</div>