<div class="subject">
                        <div class="header">
                            <h2>JAVA</h2>
                            <p>In this course, we were taught to program in the Java language. This page presents 2 main large projects</p>
                        </div>
                        <section>
                            <h3>GUI shop program</h3>
                            <p>During this, we were shown how to work with Java in the terminal. I want to show this project because it is the first large one with a graphical interface</p>
                            <div class="slider" show="2" scroll="2" time="1000">
                                <ul>
                                    <li><a href="imgs/2course/java/des1.png" data-lightbox="des" data-title="Registration panel"><img src="imgs/2course/java/des1.png" alt=""></a></li>
                                    <li><a href="imgs/2course/java/des2.png" data-lightbox="des" data-title="First panel at login or home panel"><img src="imgs/2course/java/des2.png" alt=""></a></li>
                                    <li><a href="imgs/2course/java/des3.png" data-lightbox="des" data-title="Shoe sales program panel"><img src="imgs/2course/java/des3.png" alt=""></a></li>
                                    <li><a href="imgs/2course/java/des4.png" data-lightbox="des" data-title="Project code snippet"><img src="imgs/2course/java/des4.png" alt=""></a></li>
                                </ul>
                            </div>
                            <div class="file">
                                <a href="projects/course2/java/shop.zip">Download zip</a>
                            </div>
                        </section>
                        <section>
                            <h3>Site gallery with the possibility of ordering</h3>
                            <p>This is the second major project along with an order for one member of my family. My aunt draws pictures and was asked to make a website where she can exhibit her work and along the way so that the user can write or call for an order</p>
                            <div class="slider" show="1" scroll="1" time="1000">
                                <ul>
                                    <li><a href="imgs/2course/java/gallery1.png" data-lightbox="gallery" data-title="Home page with empty database"><img src="imgs/2course/java/gallery1.png" alt=""></a></li>
                                    <li><a href="imgs/2course/java/gallery2.png" data-lightbox="gallery" data-title="User registration page"><img src="imgs/2course/java/gallery2.png" alt=""></a></li>
                                    <li><a href="imgs/2course/java/gallery3.png" data-lightbox="gallery" data-title="Project code snippet"><img src="imgs/2course/java/gallery3.png" alt=""></a></li>
                                </ul>
                            </div>
                            <div class="file">
                                <a href="projects/course2/java/web1.zip">Download zip</a>
                            </div>
                        </section>
                        <script src="../lib/slider/slider.js"></script>
                    </div>