<div class="subject">
    <div class="header">
        <h2>My Life</h2>
        <p>On this page I will tell you more about myself, so that those who come here know more about me.</p>
    </div>
    <section>
        <h3>About me (more)</h3>
        <p>I am Alexey. I am 22 years old. I live in Kivioli. I love animals, plants and life, but unfortunately not people (disappointed in them). I am learning to play the guitar, learning the basics of programming in a technical school. I like programming in python, node js and php. I want to start my own gaming company. I prefer pixel games and that's why the company will go in this direction at first. I love rock and electro music, but I can also listen to relaxation</p>
    </section>
    <h3>Hobbies</h3>
    <section>
        <h3>Plants</h3>
        <p>I love indoor flowers, I have about 7-9 types of them. I love watching them grow and bloom.Next you will see a slider with the things that I have</p>
        <div class="slider" show="2" scroll="2" time="1000">
            <ul>
                <li><a href="imgs/life/plants/drac.png" data-lightbox="plants" data-title="Dracena"><img src="imgs/life/plants/drac.png" alt=""></a></li>
                <li><a href="imgs/life/plants/gib1.jpg" data-lightbox="dr" data-title="Hibiscus"><img src="imgs/life/plants/gib1.jpg" alt=""></a></li>
                <li><a href="imgs/life/plants/hlor.jpg" data-lightbox="dr" data-title="Chlorophytum"><img src="imgs/life/plants/hlor.jpg" alt=""></a></li>
                <li><a href="imgs/life/plants/dief.jpg" data-lightbox="dr" data-title="Dieffenbachia"><img src="imgs/life/plants/dief.jpg" alt=""></a></li>
                <li><a href="imgs/life/plants/moloc.jpg" data-lightbox="dr" data-title="Spurge"><img src="imgs/life/plants/moloc.jpg" alt=""></a></li>
                <li><a href="imgs/life/plants/reo.jpg" data-lightbox="dr" data-title="Reo"><img src="imgs/life/plants/reo.jpg" alt=""></a></li>
                <li><a href="imgs/life/plants/rhoi.jpg" data-lightbox="dr" data-title="Dieffenbachia"><img src="imgs/life/plants/rhoi.jpg" alt=""></a></li>
                <li><a href="imgs/life/plants/till.jpg" data-lightbox="dr" data-title="Spurge"><img src="imgs/life/plants/till.jpg" alt=""></a></li>
            </ul>
        </div>
    </section>
    <section>
        <h3>Music</h3>
        <p>Here I will show you the music that I prefer to listen to</p>
        <div class="file">
            <div>
                <h3>From ashes to new</h3>
                <audio controls controlsList="nodownload noplaybackrate" src="files/music/ashes.mp3"></audio>
            </div>
            <div>
                <h3>Celldewer</h3>
                <audio controls controlsList="nodownload noplaybackrate" src="files/music/celldewer.mp3"></audio>
            </div>
            <div>
                <h3>Cult to follow</h3>
                <audio controls controlsList="nodownload noplaybackrate" src="files/music/cult.mp3"></audio>
            </div>
            <div>
                <h3>We the Kings</h3>
                <audio controls controlsList="nodownload noplaybackrate" src="files/music/kings.mp3"></audio>
            </div>
            <div>
                <h3>Legends never die</h3>
                <audio controls controlsList="nodownload noplaybackrate" src="files/music/legends.mp3"></audio>
            </div>
            <div>
                <h3>Motionless in white</h3>
                <audio controls controlsList="nodownload noplaybackrate" src="files/music/less.mp3"></audio>
            </div>
            <div>
                <h3>Miatriss</h3>
                <audio controls controlsList="nodownload noplaybackrate" src="files/music/miatriss.mp3"></audio>
            </div>
            <div>
                <h3>Raiser</h3>
                <audio controls controlsList="nodownload noplaybackrate" src="files/music/raiser.mp3"></audio>
            </div>
        </div>
    </section>
    <script src="../lib/slider/slider.js"></script>
</div>