<div class="subject">
    <div class="header">
        <h2>Program for creating patterns</h2>
    </div>
    <section>
        <p>The history of the creation of the program is such that one friend showed how patterns are drawn in python using a turtle, so I decided to repeat and improve using pygame and its third-party libraries. So we got a program that can draw patterns, then you will see examples of patterns. Next you will see examples of patterns and an exe file to use</p>
        <div class="slider" show="2" scroll="2" time="1000">
            <ul>
                <li><a href="imgs/my_projects/python/color1.png" data-lightbox="color" data-title=""><img src="imgs/my_projects/python/color1.png" alt=""></a></li>
                <li><a href="imgs/my_projects/python/color2.png" data-lightbox="color" data-title=""><img src="imgs/my_projects/python/color2.png" alt=""></a></li>
                <li><a href="imgs/my_projects/python/color3.png" data-lightbox="color" data-title=""><img src="imgs/my_projects/python/color3.png" alt=""></a></li>
                <li><a href="imgs/my_projects/python/color4.png" data-lightbox="color" data-title=""><img src="imgs/my_projects/python/color4.png" alt=""></a></li>
                <li><a href="imgs/my_projects/python/color5.png" data-lightbox="color" data-title=""><img src="imgs/my_projects/python/color5.png" alt=""></a></li>
                <li><a href="imgs/my_projects/python/color6.png" data-lightbox="color" data-title=""><img src="imgs/my_projects/python/color6.png" alt=""></a></li>
                <li><a href="imgs/my_projects/python/color7.png" data-lightbox="color" data-title=""><img src="imgs/my_projects/python/color7.png" alt=""></a></li>
                <li><a href="imgs/my_projects/python/color8.png" data-lightbox="color" data-title=""><img src="imgs/my_projects/python/color8.png" alt=""></a></li>
                <li><a href="imgs/my_projects/python/color9.png" data-lightbox="color" data-title=""><img src="imgs/my_projects/python/color9.png" alt=""></a></li>
                <li><a href="imgs/my_projects/python/color10.png" data-lightbox="color" data-title=""><img src="imgs/my_projects/python/color10.png" alt=""></a></li>
            </ul>
        </div>
        <div class="file">
            <a href="projects/my_projects/python/MAIN.exe">Download exe</a>
        </div>
    </section>
    <script src="../lib/slider/slider.js"></script>
</div>