<div class="subject">
    <div class="header">
        <h2>Clay crafting</h2>
        <p>This page contains works made from polymer clay. I'm still learning and therefore I see my jambs and where I need to focus</p>
    </div>
    <section>
        <h3>Mordeo</h3>
        <p>I saw a video where they talked about this creature and wanted to make it out of clay. I got very confused with my head, but I have a problem with my hands</p>
        <div class="slider" show="2" scroll="2" time="1000">
            <ul>
                <li><a href="imgs/my_projects/modeling/mordeo4.jpg" data-lightbox="mordeo" data-title="Front view"><img src="imgs/my_projects/modeling/mordeo4.jpg" alt=""></a></li>
                <li><a href="imgs/my_projects/modeling/mordeo2.jpg" data-lightbox="mordeo" data-title="Back view"><img src="imgs/my_projects/modeling/mordeo2.jpg" alt=""></a></li>
                <li><a href="imgs/my_projects/modeling/mordeo3.jpg" data-lightbox="mordeo" data-title="Left side view"><img src="imgs/my_projects/modeling/mordeo3.jpg" alt=""></a></li>
                <li><a href="imgs/my_projects/modeling/mordeo1.jpg" data-lightbox="mordeo" data-title="Right side view"><img src="imgs/my_projects/modeling/mordeo1.jpg" alt=""></a></li>
                <li><a href="imgs/my_projects/modeling/mordeo.jpg" data-lightbox="mordeo" data-title="Reference"><img src="imgs/my_projects/modeling/mordeo.jpg" alt=""></a></li>
            </ul>
        </div>
    </section>
    <section>
        <h3>Pyramid Head</h3>
        <p>Just like with mordeo, I saw it in a video and wanted to make it out of clay. I reviewed a lot of art to roughly know its proportions, but it still turned out so that the helmet needed to be made larger</p>
        <div class="slider" show="2" scroll="2" time="1000">
            <ul>
                <li><a href="imgs/my_projects/modeling/pyramid4.jpg" data-lightbox="pyramid" data-title="Front view"><img src="imgs/my_projects/modeling/pyramid4.jpg" alt=""></a></li>
                <li><a href="imgs/my_projects/modeling/pyramid2.jpg" data-lightbox="pyramid" data-title="Back view"><img src="imgs/my_projects/modeling/pyramid2.jpg" alt=""></a></li>
                <li><a href="imgs/my_projects/modeling/pyramid3.jpg" data-lightbox="pyramid" data-title="Left side view"><img src="imgs/my_projects/modeling/pyramid3.jpg" alt=""></a></li>
                <li><a href="imgs/my_projects/modeling/pyramid1.jpg" data-lightbox="pyramid" data-title="Right side view"><img src="imgs/my_projects/modeling/pyramid1.jpg" alt=""></a></li>
                <li><a href="imgs/my_projects/modeling/pyramid.png" data-lightbox="pyramid" data-title="Reference"><img src="imgs/my_projects/modeling/pyramid.png" alt=""></a></li>
            </ul>
        </div>
    </section>
    <section>
        <h3>Night fury</h3>
        <p>I really like the cartoon "How to Train Your Dragon" and therefore I thought that it was worth trying to make toothless, as I like it the most. Although it is clear that there is little experience, but I think it turned out okay</p>
        <div class="slider" show="2" scroll="2" time="1000">
            <ul>
                <li><a href="imgs/my_projects/modeling/night4.jpg" data-lightbox="night" data-title="Front view"><img src="imgs/my_projects/modeling/night4.jpg" alt=""></a></li>
                <li><a href="imgs/my_projects/modeling/night2.jpg" data-lightbox="night" data-title="Back view"><img src="imgs/my_projects/modeling/night2.jpg" alt=""></a></li>
                <li><a href="imgs/my_projects/modeling/night3.jpg" data-lightbox="night" data-title="Right side view"><img src="imgs/my_projects/modeling/night3.jpg" alt=""></a></li>
                <li><a href="imgs/my_projects/modeling/night1.jpg" data-lightbox="night" data-title="Left side view"><img src="imgs/my_projects/modeling/night1.jpg" alt=""></a></li>
                <li><a href="imgs/my_projects/modeling/night.jpg" data-lightbox="night" data-title="Reference"><img src="imgs/my_projects/modeling/night.jpg" alt=""></a></li>
            </ul>
        </div>
    </section>
    <section>
        <h3>Stitch</h3>
        <p>"Lilo and Stitch" is my childhood cartoon, so after the first attempt to make it, I decided to make it in some pose. Decided to make him pose when he first met Lilo</p>
        <div class="slider" show="2" scroll="2" time="1000">
            <ul>
                <li><a href="imgs/my_projects/modeling/stitch4.jpg" data-lightbox="stitch" data-title="Front view"><img src="imgs/my_projects/modeling/stitch4.jpg" alt=""></a></li>
                <li><a href="imgs/my_projects/modeling/stitch2.jpg" data-lightbox="stitch" data-title="Back view"><img src="imgs/my_projects/modeling/stitch2.jpg" alt=""></a></li>
                <li><a href="imgs/my_projects/modeling/stitch1.jpg" data-lightbox="stitch" data-title="Right side view"><img src="imgs/my_projects/modeling/stitch1.jpg" alt=""></a></li>
                <li><a href="imgs/my_projects/modeling/stitch3.jpg" data-lightbox="stitch" data-title="Left side view"><img src="imgs/my_projects/modeling/stitch3.jpg" alt=""></a></li>
                <li><a href="imgs/my_projects/modeling/stitch.jpg" data-lightbox="stitch" data-title="Reference"><img src="imgs/my_projects/modeling/stitch.jpg" alt=""></a></li>
            </ul>
        </div>
    </section>
    <section>
        <h3>Other</h3>
        <p>And here are the works that I did for the sake of practice (although any work is practice)</p>
        <div class="slider" show="2" scroll="2" time="1000">
            <ul>
                <li><a href="imgs/my_projects/modeling/rose1.jpg" data-lightbox="other" data-title="Blue roses (pendant)"><img src="imgs/my_projects/modeling/rose1.jpg" alt=""></a></li>
                <li><a href="imgs/my_projects/modeling/rose2.jpg" data-lightbox="other" data-title="Red rose (hairpin)"><img src="imgs/my_projects/modeling/rose2.jpg" alt=""></a></li>
                <li><a href="imgs/my_projects/modeling/rose.jpg" data-lightbox="other" data-title="Red rose (hairpin)"><img src="imgs/my_projects/modeling/rose.jpg" alt=""></a></li>
                <li><a href="imgs/my_projects/modeling/heart.jpg" data-lightbox="other" data-title="Steampunk heart (pendant)"><img src="imgs/my_projects/modeling/heart.jpg" alt=""></a></li>
                <li><a href="imgs/my_projects/modeling/headphones.jpg" data-lightbox="other" data-title="Headphone Jewelry"><img src="imgs/my_projects/modeling/headphones.jpg" alt=""></a></li>
            </ul>
        </div>
    </section>
    <script src="../lib/slider/slider.js"></script>
</div>