<div class="subject">
    <div class="header">
        <h2>Node js</h2>
        <p>Here are 3 projects using node js</p>
    </div>
    <section>
        <h3>Express</h3>
        <p>This was my first job with node js. we were shown how to display the page in the browser, how to change it, but without ejs</p>
        <div class="imgs">
            <a href="imgs/3course/node/express3.png" data-lightbox="express" data-title="Creating a database connection"><img src="imgs/3course/node/express3.png" alt=""></a>
            <a href="imgs/3course/node/express2.png" data-lightbox="express" data-title="Work express on the server"><img src="imgs/3course/node/express2.png" alt=""></a>
            <a href="imgs/3course/node/express1.png" data-lightbox="express" data-title="Result"><img src="imgs/3course/node/express1.png" alt=""></a>
        </div>
        <div class="file">
            <a href="projects/course3/node/express.rar">Download rar</a>
        </div>
    </section>
    <section>
        <h3>Sequelize</h3>
        <p>In this lesson, we were shown how to create a link and use tables in the database. It was confusing at first, but I got used to it pretty quickly.</p>
        <div class="imgs">
            <a href="imgs/3course/node/sequelize1.png" data-lightbox="sequelize" data-title="Function for getting books by parameters"><img src="imgs/3course/node/sequelize1.png" alt=""></a>
            <a href="imgs/3course/node/sequelize2.png" data-lightbox="sequelize" data-title="Model for creating and working with a table"><img src="imgs/3course/node/sequelize2.png" alt=""></a>
        </div>
        <div class="file">
            <a href="projects/course3/node/Sequelize.rar">Download rar</a>
        </div>
    </section>
    <section>
        <h3>Final work</h3>
        <p>This was the last job where I used sequelize, express, ejs and other modules. Spent about half a month or a little more on this project.</p>
        <div class="slider" show="1" scroll="1" time="1000">
            <ul>
                <li><a href="imgs/3course/node/final2.png" data-lightbox="final" data-title="Homepage"><img src="imgs/3course/node/final2.png" alt=""></a></li>
                <li><a href="imgs/3course/node/final1.png" data-lightbox="final" data-title="Method for creating homepage"><img src="imgs/3course/node/final1.png" alt=""></a></li>
                <li><a href="imgs/3course/node/final3.png" data-lightbox="final" data-title="Form for creating a game post"><img src="imgs/3course/node/final3.png" alt=""></a></li>
                <li><a href="imgs/3course/node/final4.png" data-lightbox="final" data-title="Form for creating news"><img src="imgs/3course/node/final4.png" alt=""></a></li>
                <li><a href="imgs/3course/node/final5.png" data-lightbox="final" data-title="Page to search and/or delete"><img src="imgs/3course/node/final5.png" alt=""></a></li>
                <li><a href="imgs/3course/node/final6.png" data-lightbox="final" data-title="Pages for deleting or updating game genres and platforms"><img src="imgs/3course/node/final6.png" alt=""></a></li>
                <li><a href="imgs/3course/node/final7.png" data-lightbox="final" data-title="Page for recovery or complete removal"><img src="imgs/3course/node/final7.png" alt=""></a></li>
            </ul>
        </div>
        <div class="file">
            <a href="projects/course3/node/game_liblary.rar">Download rar</a>
        </div>
    </section>
    <script src="../lib/slider/slider.js"></script>
</div>