<div class="subject">
    <div class="header">
        <h2>PHP</h2>
        <p>In this course we were taught the basics of php</p>
    </div>
    <section>
        <h3>Favorite games</h3>
        <p>It was the first more or less interesting project. it was necessary to make an array of data in php and use it in another php file, then output it to the browser. I had css option but forgot do 'push'</p>
        <div class="slider" show="1" scroll="1" time="1000">
            <ul>
                <li><a href="imgs/3course/php/game1.png" data-lightbox="all" data-title="Server code"><img src="imgs/3course/php/game1.png" alt=""></a></li>
                <li><a href="imgs/3course/php/game3.png" data-lightbox="all" data-title="Result"><img src="imgs/3course/php/game3.png" alt=""></a></li>
                <li><a href="imgs/3course/php/game2.png" data-lightbox="all" data-title="Data array"><img src="imgs/3course/php/game2.png" alt=""></a></li>
            </ul>
        </div>
        <div class="file">
            <a href="projects/course3/php/games_php.rar">Download rar</a>
        </div>
    </section>
    <section>
        <h3>Working with Forms</h3>
        <p>This time we were shown how to work with forms. Since I already knew Ajax, I decided to use it for convenience.</p>
        <div class="slider" show="2" scroll="2" time="1000">
            <ul>
                <li><a href="imgs/3course/php/form1.png" data-lightbox="form" data-title="Code that works with the base"><img src="imgs/3course/php/form1.png" alt=""></a></li>
                <li><a href="imgs/3course/php/form2.png" data-lightbox="form" data-title="Sample"><img src="imgs/3course/php/form2.png" alt=""></a></li>
                <li><a href="imgs/3course/php/form3.png" data-lightbox="form" data-title="Ajax code"><img src="imgs/3course/php/form3.png" alt=""></a></li>
                <li><a href="imgs/3course/php/form4.png" data-lightbox="form" data-title="Result"><img src="imgs/3course/php/form4.png" alt=""></a></li>
            </ul>
        </div>
        <div class="file">
            <a href="projects/course3/php/test_form.rar">Download rar</a>
        </div>
    </section>
    <section>
        <h3>Large work with forms</h3>
        <p>For this project, I decided to use js for a more dynamic user experience. I think it's a good choice</p>
        <div class="slider" show="1" scroll="1" time="1000">
            <ul>
                <li><a href="imgs/3course/php/pizza1.png" data-lightbox="pizza" data-title="Result in browser"><img src="imgs/3course/php/pizza1.png" alt=""></a></li>
                <li><a href="imgs/3course/php/pizza2.png" data-lightbox="pizza" data-title="Form made on one site"><img src="imgs/3course/php/pizza2.png" alt=""></a></li>
                <li><a href="imgs/3course/php/pizza3.png" data-lightbox="pizza" data-title="Data array"><img src="imgs/3course/php/pizza3.png" alt=""></a></li>
                <li><a href="imgs/3course/php/pizza4.png" data-lightbox="pizza" data-title="Form work on js side"><img src="imgs/3course/php/pizza4.png" alt=""></a></li>
            </ul>
        </div>
        <div class="file">
            <a href="projects/course3/php/pizza.rar">Download rar</a>
        </div>
    </section>
    <section>
        <h3>Final work</h3>
        <p>For this project, I used all the knowledge and had to search the Internet. Stayed up at night to make the project enjoyable and functional. I hope the project turned out well.</p>
        <div class="slider" show="1" scroll="1" time="1000">
            <ul>
                <li><a href="imgs/3course/php/final1.png" data-lightbox="final" data-title="Home page"><img src="imgs/3course/php/final1.png" alt=""></a></li>
                <li><a href="imgs/3course/php/final2.png" data-lightbox="final" data-title="Continent's panel"><img src="imgs/3course/php/final2.png" alt=""></a></li>
                <li><a href="imgs/3course/php/final3.png" data-lightbox="final" data-title="Model Code"><img src="imgs/3course/php/final3.png" alt=""></a></li>
                <li><a href="imgs/3course/php/final4.png" data-lightbox="final" data-title="Routing code"><img src="imgs/3course/php/final4.png" alt=""></a></li>
                <li><a href="imgs/3course/php/final5.png" data-lightbox="final" data-title="Controller code"><img src="imgs/3course/php/final5.png" alt=""></a></li>
                <li><a href="imgs/3course/php/final6.png" data-lightbox="final" data-title="A function that searches by parameters"><img src="imgs/3course/php/final6.png" alt=""></a></li>
            </ul>
        </div>
        <div class="file">
            <a href="projects/course3/php/project1.rar">Download rar</a>
        </div>
    </section>
    <script src="../lib/slider/slider.js"></script>
</div>