<div class="subject">
    <div class="header">
        <h2>My projects</h2>
        <p>Here are my projects. They are categorized to make it easier to find.</p>
    </div>
    <h3>Python</h3>
    <div class="line1">
        <div class="conteiner">
            <div class="hex_border">
                <div class="hex main_btn" page_name="lines">
                    <div class="hex-background" >
                        <p>Draw lines</p> 
                    </div>
                </div>
            </div>
        </div>
        <div class="conteiner">
            <div class="hex_border">
                <div class="hex main_btn" page_name="hockey">
                    <div class="hex-background" >
                        <p>Game hokkey (not finished)</p> 
                    </div>
                </div>
            </div>
        </div>
        <div class="conteiner">
            <div class="hex_border">
                <div class="hex main_btn" page_name="snake">
                    <div class="hex-background" >
                        <p>Game snake</p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3>Godot</h3>
    <div class="line1">
        <div class="conteiner">
            <div class="hex_border">
                <div class="hex main_btn" page_name="stars">
                    <div class="hex-background" >
                        <p>Stars</p> 
                    </div>
                </div>
            </div>
        </div>
        <div class="conteiner">
            <div class="hex_border">
                <div class="hex main_btn" page_name="galaxy">
                    <div class="hex-background" >
                        <p>Galaxy</p> 
                    </div>
                </div>
            </div>
        </div>
        <div class="conteiner">
            <div class="hex_border">
                <div class="hex main_btn" page_name="hunters">
                    <div class="hex-background" >
                        <p>My game (demo)</p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3>Other</h3>
    <div class="line1">
        <div class="conteiner">
            <div class="hex_border">
                <div class="hex main_btn" page_name="drawing">
                    <div class="hex-background" >
                        <p>Drawing</p> 
                    </div>
                </div>
            </div>
        </div>
        <div class="conteiner">
            <div class="hex_border">
                <div class="hex main_btn" page_name="modeling">
                    <div class="hex-background" >
                        <p>Modeling (polymer clay)</p> 
                    </div>
                </div>
            </div>
        </div>
        <div class="conteiner">
            <div class="hex_border">
                <div class="hex main_btn" page_name="handiwork">
                    <div class="hex-background" >
                        <p>Handiwork</p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/main_btns.js"></script>
</div>