<div class="subject">
    <div class="header">
        <h2>Basics of programming</h2>
        <p>The goal of the study is for the student to understand the essence of programming, to know the general terminology of programming, and to be able to use basic software development tools and create simpler applications.</p>
    </div>
    <section>
        <h3>Block diagram</h3>
        <p>The purpose of this lesson was to teach how to draw flowcharts for a better understanding of the code writing algorithm. It was easy for me to understand the creation of such circuits</p>
        <div class="imgs">
            <a href="imgs/1course/python/block.png" data-lightbox="block" data-title="Block-scheme"><img src="imgs/1course/python/block.png" alt=""></a>
        </div>
    </section>
    <section>
        <h3>"My" PIN code</h3>
        <p>The task of the lesson is to emulate an ATM in the terminal. The first part is a password request, the second is the "ATM" functions themselves. I immediately understood the basic mechanics of creating an "ATM"</p>
        <div class="imgs">
            <a href="imgs/1course/python/pin_code.png" data-lightbox="pin" data-title="Code of my work"><img src="imgs/1course/python/pin_code.png" alt=""></a>
            <a href="imgs/1course/python/pin_result.png" data-lightbox="pin" data-title="Result of my code"><img src="imgs/1course/python/pin_result.png" alt=""></a>
        </div>
        <div class="file">
            <a href="projects/course1/python/kozlov_pin.exe">Download exe</a>
        </div>
    </section>
    <section>
        <h3>Test for checking arithmetic operations</h3>
        <p>I made a program to test a student of arithmetic. In this program, you can choose the level of difficulty. Spent quite a lot of time on it</p>
        <div class="imgs">
            <a href="imgs/1course/python/math_code.png" data-lightbox="math" data-title="Code of my work"><img src="imgs/1course/python/math_code.png" alt=""></a>
            <a href="imgs/1course/python/math_result.png" data-lightbox="math" data-title="Result of my code"><img src="imgs/1course/python/math_result.png" alt=""></a>
        </div>
        <div class="file">
            <a href="projects/course1/python/kozlov_test.exe">Download exe</a>
        </div>
    </section>
    <section>
        <h3>tic-tac-toe</h3>
        <p>The first task with pygame was to create tic-tac-toe. At first it was difficult to understand the algorithm for writing and arranging objects</p>
        <div class="imgs">
            <a href="imgs/1course/python/tic-tac-toe_code.png" data-lightbox="tic-tac-toe" data-title="Code of my work"><img src="imgs/1course/python/tic-tac-toe_code.png" alt=""></a>
            <a href="imgs/1course/python/tic-tac-toe_result.png" data-lightbox="tic-tac-toe" data-title="Result of my code"><img src="imgs/1course/python/tic-tac-toe_result.png" alt=""></a>
        </div>
        <div class="file">
            <a href="projects/course1/python/tic-tac-toe.rar">Download rar</a>
        </div>
    </section>
    <section>
        <h3>Memory game</h3>
        <p>The second task was to create a memory game with the help of their modules. I had to look for more tolerable cards for the game for a long time</p>
        <div class="imgs">
            <a href="imgs/1course/python/memory_code.png" data-lightbox="memory" data-title="Code of my work"><img src="imgs/1course/python/memory_code.png" alt=""></a>
            <a href="imgs/1course/python/memory_result.png" data-lightbox="memory" data-title="Result of my code"><img src="imgs/1course/python/memory_result.png" alt=""></a>
        </div>
        <div class="file">
            <a href="projects/course1/python/memory.rar">Download rar</a>
        </div>
    </section>
    <section>
        <h3>Pong</h3>
        <p>Made a ping pong game for two players. wanted to make a game with a bot, but changed his mind</p>
        <div class="imgs">
            <a href="imgs/1course/python/pong_code.png" data-lightbox="pong" data-title="Code of my work"><img src="imgs/1course/python/pong_code.png" alt=""></a>
            <a href="imgs/1course/python/pong_result.png" data-lightbox="pong" data-title="Result of my code"><img src="imgs/1course/python/pong_result.png" alt=""></a>
        </div>
        <div class="file">
            <a href="projects/course1/python/pong.exe">Download exe</a>
        </div>
    </section>
    <section>
        <h3>Galaxy</h3>
        <p>The last project in this subject was the game "galaxy". It was required from me that the squares go and shoot them, but I decided to do it with textures and with different directions of movement. I used a Bezier curve for movement.</p>
        <div class="imgs">
            <a href="imgs/1course/python/galaxy_code.png" data-lightbox="galaxy" data-title="Code of my work"><img src="imgs/1course/python/galaxy_code.png" alt=""></a>
            <a href="imgs/1course/python/galaxy_result.png" data-lightbox="galaxy" data-title="Result of my code"><img src="imgs/1course/python/galaxy_result.png" alt=""></a>
        </div>
        <div class="file">
            <a href="projects/course1/python/galaxy.rar">Download rar</a>
        </div>
    </section>
</div>