<div class="skills">
    <div class="skill_btn">
        <h1>Personal qualities</h1>
        <div class="line1">
            <div class="conteiner">
                <div class="hex_border">
                    <div class="hex">
                        <div class="hex-background">
                            <p>SOCIABLE</p> 
                        </div>
                    </div>
                    <div class="message">
                        <p>I'm pretty social. I can find an approach to almost any person. If I find a topic, I can talk for a long time. I know how to communicate with a generation older and younger than me, but it all depends on the person</p>
                    </div>
                </div>
            </div>
            <div class="conteiner">
                <div class="hex_border">
                    <div class="hex">
                        <div class="hex-background">
                            <p>TEAMWORK</p>
                        </div>
                    </div>
                    <div class="message">
                        <p>I can work in a team, but I prefer to work individually. I try to create a pleasant atmosphere in the team and work on an equal footing or more than others</p>
                    </div>
                </div>
            </div>
            <div class="conteiner">
                <div class="hex_border">
                    <div class="hex ">
                        <div class="hex-background">
                            <p>PATIENCE</p><!--терпение-->
                        </div>
                    </div>
                    <div class="message">
                        <p>For me, I have a lot of patience. I can work for several hours on a job and not notice fatigue or time wasting. I can accidentally spend 3 hours of my life on a drawing or on a hobby</p>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="line2">
            <div class="conteiner">
                <div class="hex_border">
                    <div class="hex ">
                        <div class="hex-background">
                            <p>CURIOSITY</p> <!--ЛЮБОПЫТСТВО-->
                        </div>
                    </div>
                    <div class="message">
                        <p>I'm pretty curious. if I am interested in a new technology or library, I can spend a few days studying. This happened to python when I started learning pygame myself.</p>
                    </div>
                </div>
            </div>
            <div class="conteiner">
                <div class="hex_border">
                    <div class="hex ">
                        <div class="hex-background">
                            <p>ADAPTABILITY</p>
                        </div>
                    </div>
                    <div class="message">
                        <p>Adaptability is necessary for programmers otherwise it will not be possible to develop on a par with others. I try everything to learn something new so that later at lunch I can adapt to some kind of project</p>
                    </div>
                </div>
            </div>
            <div class="conteiner">
                <div class="hex_border">
                    <div class="hex ">
                        <div class="hex-background">
                            <p>EMPATHY</p>
                        </div>
                    </div>
                    <div class="message">
                        <p>Since childhood, I try to imagine myself in the place of another person. Empathy is essential in any group project. Everyone has their own role and everyone needs to understand each other</p>
                    </div>
                </div>
            </div>
        </div>
        <h1>Professional quality</h1>
        <div class="line1">
            <div class="conteiner">
                <div class="hex_border">
                    <div class="hex ">
                        <div class="hex-background">
                            <p>PYTHON</p>
                        </div>
                    </div>
                    <div class="message">
                        <p>I can write simple programs and games in python. For example, a program for drawing patterns or a snake game. Soon I plan to study frameworks for creating a website</p>
                    </div>
                </div>
            </div>
            <div class="conteiner">
                <div class="hex_border">
                    <div class="hex ">
                        <div class="hex-background">
                            <p>JAVA</p>
                        </div>
                    </div>
                    <div class="message">
                        <p>In Java, I wrote simple programs in the likeness of a library. Also, with the help of some libraries, I created a site for displaying paintings, in some way a virtual gallery with the ability to send a message for ordering</p>
                    </div>
                </div>
            </div>
            <div class="conteiner">
                <div class="hex_border">
                    <div class="hex ">
                        <div class="hex-background">
                            <p>PHP</p>
                        </div>
                    </div>
                    <div class="message">
                        <p>In php, I wrote simple sites with ORM technology. I didn’t write anything serious, but I myself studied the possibilities of this language</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="line2">
            <div class="conteiner">
                <div class="hex_border">
                    <div class="hex ">
                        <div class="hex-background">
                            <p>SQL</p>
                        </div>
                    </div>
                    <div class="message">
                        <p>For simple tasks like CRUD I can use SQL along with other languages like python, java, php and node js. I have never had problems with it and I understand the logic and structure of the database</p>
                    </div>
                </div>
            </div>
            <div class="conteiner">
                <div class="hex_border">
                    <div class="hex ">
                        <div class="hex-background">
                            <p>NODE JS</p>
                        </div>
                    </div>
                    <div class="message">
                        <p>I use Node js to create user-friendly websites. I think that with the help of it you can make one-page sites, such as this site</p>
                    </div>
                </div>
            </div>
            <div class="conteiner">
                <div class="hex_border">
                    <div class="hex ">
                        <div class="hex-background">
                            <p>HTML/CSS</p>
                        </div>
                    </div>
                    <div class="message">
                        <p>I have been learning HTML/CSS for a long time. I like to create the front end for websites using different tools.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="line1">
            <div class="conteiner">
                <div class="hex_border">
                    <div class="hex ">
                        <div class="hex-background">
                            <p>JS</p>
                        </div>
                    </div>
                    <div class="message">
                        <p>Js is one of the languages for a dynamic and beautiful website. I study its possibilities with every new site that I write</p>
                    </div>
                </div>
            </div>
            <div class="conteiner">
                <div class="hex_border">
                    <div class="hex ">
                        <div class="hex-background">
                            <p>UI/UX</p>
                        </div>
                    </div>
                    <div class="message">
                        <p>UI/UX design is pretty confusing, but it has standards. I try to create every site according to the rules of design</p>
                    </div>
                </div>
            </div>
            <div class="conteiner">
                <div class="hex_border">
                    <div class="hex ">
                        <div class="hex-background">
                            <p>PHOTOSHOP</p>
                        </div>
                    </div>
                    <div class="message">
                        <p>I have been familiar with photoshop for a long time, but I rarely use it. Mainly to cut, apply effects to sprites for your game</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="line2">
            <div class="conteiner">
                <div class="hex_border">
                    <div class="hex ">
                        <div class="hex-background">
                            <p>ILLUSTRATOR</p>
                        </div>
                    </div>
                    <div class="message">
                        <p>I rarely use Illustrator unless someone needs a simple logo.</p>
                    </div>
                </div>
            </div>
            <div class="conteiner">
                <div class="hex_border">
                    <div class="hex ">
                        <div class="hex-background">
                            <p>GODOT</p>
                        </div>
                    </div>
                    <div class="message">
                        <p>The game I'm making works on godot. With every wish I have, I search the Internet for how to make it come true.</p>
                    </div>
                </div>
            </div>
            <div class="conteiner">
                <div class="hex_border">
                    <div class="hex ">
                        <div class="hex-background">
                            <p>OFFICE 365</p>
                        </div>
                    </div>
                    <div class="message">
                        <p>Office 365 can freely use programs such as Word, Powerpoint, Excel, Visual. Their functions have been studied for a long time and used in various industries</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="line1">
            <div class="conteiner">
                <div class="hex_border">
                    <div class="hex ">
                        <div class="hex-background">
                            <p>XAMPP</p>
                        </div>
                    </div>
                    <div class="message">
                        <p>Xampp is used to test the site. It can break but I'm already used to how to fix it</p>
                    </div>
                </div>
            </div>
            <div class="conteiner">
                <div class="hex_border">
                    <div class="hex ">
                        <div class="hex-background">
                            <p>TESTING</p>
                        </div>
                    </div>
                    <div class="message">
                        <p>In the industry, testing has studied techniques such as white box, black box, and gray box testing. I also went through what unit tests are and how to use them.</p>
                    </div>
                </div>
            </div>
            <div class="conteiner">
                <div class="hex_border">
                    <div class="hex ">
                        <div class="hex-background">
                            <p>GIT</p>
                        </div>
                    </div>
                    <div class="message">
                        <p>I know the basic functions of git. How to create, clone and modify repositories</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="line2">
            <div class="conteiner">
                <div class="hex_border">
                    <div class="hex ">
                        <div class="hex-background">
                            <p>OOP</p>
                        </div>
                    </div>
                    <div class="message">
                        <p>I know and use the OOP programming model for my projects, one of them is a game project</p>
                    </div>
                </div>
            </div>
            <div class="conteiner">
                <div class="hex_border">
                    <div class="hex ">
                        <div class="hex-background">
                            <p>DRAWING</p>
                        </div>
                    </div>
                    <div class="message">
                        <p>I have been drawing since childhood. Now I try to copy from the original by eye. I can accidentally spend 2 hours on one drawing and not finish it</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="des">
        <h2>Description:</h2>
        <h3></h3>
        <p></p>
    </div>
    <script src="js/skills.js"></script>
</div>