<div class="subject">
    <div class="header">
        <h2>Snake</h2>
    </div>
    <section>
        <p>When we just started learning pygame, I thought with one classmate, "Why not make a snake?" and after that the project started. From the beginning, I didn’t understand how to make the snake move like in the old days, but then I realized that I needed to make a screen by cells and move according to their coordinates. Due to the fact that one library stopped working to create an interface, I had to learn a new one. The new one was more comfortable and nicer. Therefore, I share the last version of the game and the results in the form of pictures</p>
        <div class="slider" show="2" scroll="2" time="1000">
            <ul>
                <li><a href="imgs/my_projects/python/snake1.png" data-lightbox="snake" data-title="The game itself"><img src="imgs/my_projects/python/snake1.png" alt=""></a></li>
                <li><a href="imgs/my_projects/python/snake2.png" data-lightbox="snake" data-title="The moment you lost"><img src="imgs/my_projects/python/snake2.png" alt=""></a></li>
                <li><a href="imgs/my_projects/python/snake3.png" data-lightbox="snake" data-title="Settings"><img src="imgs/my_projects/python/snake3.png" alt=""></a></li>
                <li><a href="imgs/my_projects/python/snake4.png" data-lightbox="snake" data-title="Scores"><img src="imgs/my_projects/python/snake4.png" alt=""></a></li>
            </ul>
        </div>
        <div class="file">
            <a href="projects/my_projects/python/MAIN.exe">Download exe</a>
        </div>
    </section>
    <script src="../lib/slider/slider.js"></script>
</div>