<div class="subject">
    <div class="header">
        <h2>Draw with stars</h2>
    </div>
    <section>
        <p>I made this program for one event, the purpose of which was to make a program or website to make a person relax. Having searched a little on the Internet, I found an option with drawing in the sky and decided to make my own variation. The stars while you draw will also move to the right along the way, for the best effect. I think it turned out tolerably</p>
       <div class="imgs">
            <a href="imgs/my_projects/godot/stars1.png" data-lightbox="color" data-title="Before"><img src="imgs/my_projects/godot/stars1.png" alt=""></a>
            <a href="imgs/my_projects/godot/stars2.png" data-lightbox="color" data-title="After"><img src="imgs/my_projects/godot/stars2.png" alt=""></a>
       </div>
        <div class="file">
            <a href="projects/my_projects/godot/stars/stars.rar">Download exe</a>
        </div>
        <div class="game horizontal">
            <iframe src="" frameborder="0" id="game"></iframe>
            <div class="buttons">
                <p game_src="projects/my_projects/godot/stars/html/index.html" id="play">Play/Restart</p>
                <p  id="stop">Stop</p>
            </div>
       </div>
    </section>
    <script src="js/game_btns.js"></script>
</div>