<div class="studies">
    <div class="conteiner">
        <div class="hex_border">
            <div class="hex main_btn" page_name="ivkhk">
                <div class="hex-background" >
                    <p>IVKHK</p> 
                </div>
            </div>
        </div>
    </div>
    <div class="conteiner">
        <div class="hex_border">
            <div class="hex main_btn" page_name="add">
                <div class="hex-background">
                    <p>Additional courses</p> 
                </div>
            </div>
        </div>
    </div>
    <script src="js/main_btns.js"></script>
</div>