<div class="subject">
    <div class="header">
        <h2>XML/JSON</h2>
        <p>In this course, we were taught how to use xml and json files. For this, python was used in the course to parse these files and use them</p>
    </div>
    <section>
        <h3>Parsing an XML file</h3>
        <p>In this work, we were told to create an xml file on the topic of students, to present the structure of the file. Then we needed to parse our own file</p>
        <div class="imgs">
            <a href="imgs/2course/xml_json/code_ivkhk.png" data-lightbox="xml" data-title="Parsing xml file"><img src="imgs/2course/xml_json/code_ivkhk.png" alt=""></a>
            <a href="imgs/2course/xml_json/xml_ivkhk.png" data-lightbox="xml" data-title="XML file"><img src="imgs/2course/xml_json/xml_ivkhk.png" alt=""></a>
        </div>
    </section>
    <section>
        <h3>Parsing an JSON file</h3>
        <p>In this work, we were told to create an xml file on the topic of students, to present the structure of the file. Then we needed to parse our own file</p>
        <div class="slider" show="2" scroll="1" time="1000">
            <ul>
                <li><a href="imgs/2course/xml_json/code_movies.png" data-lightbox="json" data-title="Parsing json file"><img src="imgs/2course/xml_json/code_movies.png" alt=""></a></li>
                <li><a href="imgs/2course/xml_json/json_movies.png" data-lightbox="json" data-title="JSON file"><img src="imgs/2course/xml_json/json_movies.png" alt=""></a></li>
                <li><a href="imgs/2course/xml_json/result_movies.png" data-lightbox="json" data-title="Result in browser"><img src="imgs/2course/xml_json/result_movies.png" alt=""></a></li>
            </ul>
        </div>
    </section>
    <script src="../lib/slider/slider.js"></script>
</div>